.film-nav__item:hover {
  cursor: pointer;
}
.catalog__genres-link:hover {
  cursor: pointer;
}
.film-card__details-value p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Film Review */
.review {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

/* Film Review Post */
.add-review__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.add-review__text {
  background-color: rgba(255, 255, 255, 0.12);
}
.add-review__btn {
  color: rgba(0, 0, 0, 0.5);
}

/* Button Loading */
.btn--loading {
  opacity: 0.5;
  pointer-events: none;
}

/* Loading Screen */
.loader-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-180deg, #180202 0, #000 100%);
  background-color: #000;
}
.loader,
.loader::after {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  border-left: 5px solid #c9b37e;
  transform: translateZ(0);
  animation: loader 1.1s infinite linear;
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
